{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONGA</title>
    <link rel="stylesheet" href="{% static 'store/index.css' %}">
    
</head>
<!-- <style>
    h1{
        color: blue;
        text-align: center;
        background-color: white;
        transition: 0.5s ;

    }
    h1:hover{
        background-color: aqua;

    }
    body{
        background-color: blanchedalmond;
    }



</style> -->
<body>
   <h1>welcome to the home page</h1> 
   <div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam corrupti molestias nemo perspiciatis ex numquam eum deserunt! Illo quod mollitia atque modi debitis amet porro, odit, blanditiis tenetur, commodi distinctio!
    </p>
   </div>
</body>
</html>